/* Home.css */

/* Set up the home container as a flex container with vertical alignment */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* Set up the content container as a flex container with horizontal alignment */
.content-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

/* Welcome Box */
.welcome-container {
  width: 45%;
}

.welcome-box {
  background-color: #efc9f6;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 20px;
}

/* Calendar Box */
.calendar-container {
  width: 45%;
  margin-right: 1px;
  margin-left: 1px;

  border-radius: 5px;
}


.calendar {
  width: 100%; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

/* Schedule Box */
.schedule-container {
  width: 45%;
}

.schedule-box {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  margin-left:30px ;
}

/* Style for the items inside the schedule box */
.schedule-item {
  margin-bottom: 10px;
}

/* Boxes Container */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

/* Individual Box Styles */
.box {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

/* Apply background colors */
.box:nth-child(odd) {
  background-color: #7dbbcb;
  margin-right: 20px;
  margin-left: px;
}

.box:nth-child(even) {
  background-color: #92bbdb;
}

.box:hover {
  background-color: #6f87b0;
}
